# Environments
.env
.venv
venv/
__pycache__/

# IDE specific files
.idea/
.vscode/

# Python cache
*.pyc
*.pyo
*.pyd

# Moto temporary files
.moto/

# Test reports
.pytest_cache/
htmlcov/
.coverage

# Build artifacts
*.zip
*.tar.gz
*.egg-info
dist/
build/
